html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(21, 22, 22);
  color: whitesmoke;
  text-align: center;
  font-family: garamond;
  font-size: 20px;
}

canvas {
  display: block;
  margin: auto;
}
